# Starting off 

Each person respond in slack with a dictionary with info about them, in the following format.
```javascript
    {'first_name': 'Sean',
    'last_name': 'Wilson',
    'siblings': 2,
    'birthday':'02-06',
    'previous_employer':'IBM',
    'grad_degree': true}```

### For your Mod 1 project?
- How did you store your data after scraping or pulling from the API?
- How did you update the saved data if you needed to add additional data points?
- What issues did you run in to storing your data this way?

# A BEGINNER’S GUIDE TO DATABASES & SQL

**Objective:** SWBAT create a SQLite db instance, create tables and insert records into those tables

**Agenda:**
- Overview of databases
- Discuss Differences between SQL DBs
- Explain the basic structures of a RDBMS
- Instantiate SQLite DB instance on your computer

### What is a Database?
- In general, databases store sets of data that can be queried for use in other applications. A database man
agement system supports the development, administration and use of database platforms.


### What is a Relational Database? 
- An realtionsal database management system (RDBMS) is a type of DBMS with a row-based table structure that connects related data elements and includes functions that maintain the security, accuracy, integrity and consistency of the data.
- The most basic RDBMS functions are related to create, read, update and delete operations, collectively known as CRUD.

### What is SQL?

- SQL (usually pronounced like the word “sequel”) stands for Structured Query Language.
- A programming language used to communicate with data stored in a relational database management system.
- SQL syntax is similar to the English language, which makes it relatively easy to write, read, and interpret.

### What are the major parts of a SQL DB?

- Tables
- Indexes
- Views
- Store Procedures
- Triggers

#### Tables
Tables are used to store data within the database.  They are its main component and without them, the database would serve little purpose.

- Tables can have hundreds, thousands, sometimes even millions of rows of data. These rows are often called **records**.
- The consists of **columns** of data that are labeled with a descriptive name (say, age for example) and have a specific data type.

![alt text](columns.png)

### Indexes
Indexes are used to make data retrieval faster. Rather than having to scan an entire table for data, an index allows the database to, essentially, directly retrieve the data being asked of it.

Indexes are primariy created using using a **Primary Key**.
A primary key’s main features are:

- It must contain a unique value for each row of data.
- It cannot contain null values.

A primary key is either an existing table column or a column that is specifically generated by the database according to a defined sequence.

If you were a tax accountant and you wanted to create a database of your clients, which of the following columns who be a good choice for your primary key?

- First Name
- Last Name
- Email Address
- SSN
- Phone Number

![alt text](employees-schema.png)

### Views 

Help combat this issue by allowing the database administrator to create “canned” or pre-built queries.

Allow you to pull data from multiple tables together without moving or copying the data.

### Stored Procedures

There are many situations where queries alone are insufficient to solve a problem.  In these cases, developers rely on programming languages to process logic, to loop through records, and perform conditional comparisons as required.  These programs can be stored in the SQL database as stored procedures.

### Triggers

Triggers are special instructions that are executed when important events, such as inserting or updating records in a table happen. The most common triggers are Insert, Update, and Delete triggers.  

Two items define a trigger on a table: a stored procedure and an event, such as inserting a record that invokes its execution.

## POPULAR RDBMS

- SQLite
- MySQL
- PostgreSql
- Oracle DB
- SQL Server

### SQLite

- SQLite is a popular open source SQL database. 
- It can store an entire database in a single file.
- It is 'lite' because it is not server based.
- Does not have many features of server-based RDBMS like users and permissions.
- Great to get up and running quick, not good for complex projects.

### MySQL

- MySQL is the most popular open source SQL database. 
- It is typically used for web application development, and often accessed using PHP. 
- It is easy to use, inexpensive, reliable and has a large community of developers who can help answer questions.
- Open source development has lagged since Oracle has taken control of MySQL.
- Has been known to suffer from poor performance when scaling, 
- Does not include some advanced features that developers may be used to.

### PostgreSQL

- PostgreSQL is an open-source SQL database that is not controlled by any corporation.
- PostgreSQL shares many of the same advantages of MySQL.
- It is slower in performance than other databases such as MySQL
- Harder to come by hosts or service providers that offer managed PostgreSQL instances.

### Oracle DB

- Owned by Oracle Corporation, and the code is not open sourced. 
- Oracle DB is for large applications, particularly in the banking industry. 
- The main disadvantage of using Oracle is that it is not free.

### SQL Server

- Microsoft owns SQL Server. 
- Large enterprise applications mostly use SQL Server.
- Microsoft offers a free entry-level version called Express but can become very expensive as you scale your application.

## Working With SQLite

SQLite comes standard with Python so all you need to do to get it set up is write:

`import sqlite3`

There are specific python modules that you can use to work with SQL dbs depending on the DB.

- Microsoft SQL = pymssql
- Postgres = psycopg2
- MySQLdb = MySQLDB

### Creating a Connection

Before you can do anything with your DB, you must first create a connection with it. For DBs that are server based, this can be more coplicated requiring you to know the server ip, a username, password database name, and port. 
``` python 
import MySQLdb
conn = MySQLdb.connect(host=host, user=user, passwd=passwd, db=db)
```

For SQLite, this is much easier because you jsut need to access the flat file where the DB is stored.

In [2]:
import sqlite3

conn = sqlite3.connect('tutorial.db')

#### Cursor
This temporary work area is used to store the data retrieved from the database, and manipulate this data. 

A cursor can hold more than one row, but can process only one row at a time. 

The set of rows the cursor holds is called the active set.

In [2]:
c = conn.cursor()

#### Create a Table
Now that we have a connection and a cursor, lets create a table.

In [3]:
create_query = """CREATE TABLE IF NOT EXISTS stuffToPlot
        (unix REAL, datestamp TEXT, keyword TEXT, value REAL)"""
def create_table(query):
    c.execute(query)

In [6]:
insert_query = """INSERT INTO stuffToPlot VALUES
                (1452549219,'2016-01-11 13:53:39','Python',6)"""
def data_entry(query):
    c.execute(query)

    conn.commit()
    c.close()
    conn.close()

In [8]:
create_table(create_query)
data_entry(insert_query)

### Your Practice

In [3]:
import json
f = open('students.json','r')
student_data = json.loads(f.read())

Let's create a table for students in this class. Look at the JSON stfurcture and create your columsn from that. 

```create_query = """CREATE TABLE IF NOT EXISTS ***
        ()"""
def create_table(query):
    c.execute(query)```

Now let's insert yourself as a record
```insert_query = """INSERT INTO *** VALUES()"""
def data_entry(query):
    c.execute(query)

    conn.commit()
    c.close()
    conn.close()```

#### Inserting Data dynamically

In [9]:
import time
import datetime
import random

In [3]:
conn = sqlite3.connect('tutorial.db')
c = conn.cursor()

In [13]:
def dynamic_data_entry():

    unix = int(time.time())
    date = str(datetime.datetime.fromtimestamp(unix).strftime('%Y-%m-%d %H:%M:%S'))
    keyword = 'Python'
    value = random.randrange(0,10)

    c.execute("INSERT INTO stuffToPlot (unix, datestamp, keyword, value) VALUES (?, ?, ?, ?)",
          (unix, date, keyword, value))

    conn.commit()

In [14]:
for i in range(10):
    dynamic_data_entry()
    time.sleep(1)

# c.close
# conn.close()

#### Let's insert every student in the class. 
Write a function that will take a list of dictionaries for each student and then dynamically insert each person as a row.

We can also write a query that reads from the DB

In [18]:
def read_from_db():
    c.execute('SELECT * FROM stuffToPlot')
    data = c.fetchall()
    print(data)
    for row in data:
        print(row)

read_from_db()

[(1452549219.0, '2016-01-11 13:53:39', 'Python', 6.0), (1550544719.0, '2019-02-18 21:51:59', 'Python', 6.0), (1550544720.0, '2019-02-18 21:52:00', 'Python', 2.0), (1550544721.0, '2019-02-18 21:52:01', 'Python', 6.0), (1550544722.0, '2019-02-18 21:52:02', 'Python', 9.0), (1550544723.0, '2019-02-18 21:52:03', 'Python', 9.0), (1550544724.0, '2019-02-18 21:52:04', 'Python', 7.0), (1550544725.0, '2019-02-18 21:52:05', 'Python', 3.0), (1550544726.0, '2019-02-18 21:52:06', 'Python', 4.0), (1550544727.0, '2019-02-18 21:52:07', 'Python', 6.0), (1550544728.0, '2019-02-18 21:52:08', 'Python', 0.0)]
(1452549219.0, '2016-01-11 13:53:39', 'Python', 6.0)
(1550544719.0, '2019-02-18 21:51:59', 'Python', 6.0)
(1550544720.0, '2019-02-18 21:52:00', 'Python', 2.0)
(1550544721.0, '2019-02-18 21:52:01', 'Python', 6.0)
(1550544722.0, '2019-02-18 21:52:02', 'Python', 9.0)
(1550544723.0, '2019-02-18 21:52:03', 'Python', 9.0)
(1550544724.0, '2019-02-18 21:52:04', 'Python', 7.0)
(1550544725.0, '2019-02-18 21:52:05', 'Python', 3.0)
(1550544726.0, '2019-02-18 21:52:06', 'Python', 4.0)
(1550544727.0, '2019-02-18 21:52:07', 'Python', 6.0)
(1550544728.0, '2019-02-18 21:52:08', 'Python', 0.0)

In [ ]:
# write code to read from our students DB

We can also read a table straight into a pandas DF.

In [19]:
import pandas as pd
pd.read_sql_query("select * from stuffToPlot;", conn)

            unix            datestamp keyword  value
0   1.452549e+09  2016-01-11 13:53:39  Python    6.0
1   1.550545e+09  2019-02-18 21:51:59  Python    6.0
2   1.550545e+09  2019-02-18 21:52:00  Python    2.0
3   1.550545e+09  2019-02-18 21:52:01  Python    6.0
4   1.550545e+09  2019-02-18 21:52:02  Python    9.0
5   1.550545e+09  2019-02-18 21:52:03  Python    9.0
6   1.550545e+09  2019-02-18 21:52:04  Python    7.0
7   1.550545e+09  2019-02-18 21:52:05  Python    3.0
8   1.550545e+09  2019-02-18 21:52:06  Python    4.0
9   1.550545e+09  2019-02-18 21:52:07  Python    6.0
10  1.550545e+09  2019-02-18 21:52:08  Python    0.0

In [1]:
#write code to read from our students table into a pandas DF

And we can create a DB table directly from a pandas DF.

In [20]:
cities = pd.read_csv('cities.csv')
cities.head()

,LatD,"""LatM""","""LatS""","""NS""","""LonD""","""LonM""","""LonS""","""EW""","""City""","""State"""
0,41,5,59,"""N""",80,39,0,"""W""","""Youngstown""",OH
1,42,52,48,"""N""",97,23,23,"""W""","""Yankton""",SD
2,46,35,59,"""N""",120,30,36,"""W""","""Yakima""",WA
3,42,16,12,"""N""",71,48,0,"""W""","""Worcester""",MA
4,43,37,48,"""N""",89,46,11,"""W""","""Wisconsin Dells""",WI

In [21]:
cities.to_sql("cities", conn, if_exists="replace")

/Users/swilson5/anaconda3/lib/python3.6/site-packages/pandas/core/generic.py:2130: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  dtype=dtype)

In [4]:
# find a random csv file on your computer and read in add it to yoru DB

In [4]:
def read_from_db():
    c.execute('SELECT * FROM cities LIMIT 10')
    data = c.fetchall()
    print(data)
    for row in data:
        print(row)

read_from_db()

[(0, 41, 5, 59, ' "N"', 80, 39, 0, ' "W"', ' "Youngstown"', ' OH'), (1, 42, 52, 48, ' "N"', 97, 23, 23, ' "W"', ' "Yankton"', ' SD'), (2, 46, 35, 59, ' "N"', 120, 30, 36, ' "W"', ' "Yakima"', ' WA'), (3, 42, 16, 12, ' "N"', 71, 48, 0, ' "W"', ' "Worcester"', ' MA'), (4, 43, 37, 48, ' "N"', 89, 46, 11, ' "W"', ' "Wisconsin Dells"', ' WI'), (5, 36, 5, 59, ' "N"', 80, 15, 0, ' "W"', ' "Winston-Salem"', ' NC'), (6, 49, 52, 48, ' "N"', 97, 9, 0, ' "W"', ' "Winnipeg"', ' MB'), (7, 39, 11, 23, ' "N"', 78, 9, 36, ' "W"', ' "Winchester"', ' VA'), (8, 34, 14, 24, ' "N"', 77, 55, 11, ' "W"', ' "Wilmington"', ' NC'), (9, 39, 45, 0, ' "N"', 75, 33, 0, ' "W"', ' "Wilmington"', ' DE')]
(0, 41, 5, 59, ' "N"', 80, 39, 0, ' "W"', ' "Youngstown"', ' OH')
(1, 42, 52, 48, ' "N"', 97, 23, 23, ' "W"', ' "Yankton"', ' SD')
(2, 46, 35, 59, ' "N"', 120, 30, 36, ' "W"', ' "Yakima"', ' WA')
(3, 42, 16, 12, ' "N"', 71, 48, 0, ' "W"', ' "Worcester"', ' MA')
(4, 43, 37, 48, ' "N"', 89, 46, 11, ' "W"', ' "Wisconsin Dells"', ' WI')
(5, 36, 5, 59, ' "N"', 80, 15, 0, ' "W"', ' "Winston-Salem"', ' NC')
(6, 49, 52, 48, ' "N"', 97, 9, 0, ' "W"', ' "Winnipeg"', ' MB')
(7, 39, 11, 23, ' "N"', 78, 9, 36, ' "W"', ' "Winchester"', ' VA')
(8, 34, 14, 24, ' "N"', 77, 55, 11, ' "W"', ' "Wilmington"', ' NC')
(9, 39, 45, 0, ' "N"', 75, 33, 0, ' "W"', ' "Wilmington"', ' DE')